node_modules/
.env
# Diretórios de build e logs
dist/
build/
logs/
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Pasta do Prisma gerada automaticamente
prisma/generated/
prisma/migrations/

# Cache do editor
.vscode/
.idea/

# Outros arquivos comuns
*.sqlite
*.db